nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 150px;
}
header{
    top: 0;
    width: 100%;
    background-color: #932ada;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.head > h1,
nav > ul > li > a{
    color: black;
}