nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 150px;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.head > h1{
    color: black;
}