.card{
    background-color: rgb(255, 255, 255, .8);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.card > p,
.card > h2{
    color:black;
    text-align: center;
}
.card > p{
    font-size: 1.5rem;
}
.featCards{
    display: flex;
    gap: 10%;
    justify-content: center;
    padding: 1% 25%;
    
}
.feat{
    padding: 1.5%;
    background-image: linear-gradient(#13096d, #15d6dd); 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feat > h2{
    font-size: 2rem;
}
.intro{
    padding: 3%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#932ada, #13096d); 
}
.info{
}